<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>khuedev Company Home Page</title>
</head>
<body>
    <h2>Khuedev Company Home Page</h2>
    <hr>
    <p>Welcome to the Khuedev company homepage!</p>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <div sec:authorize="hasRole('MANAGER')">
        <hr>
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Manager peeps)
        </p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT System Meeting</a>
            (Only for admin peeps)
        </p>
    </div>

    <hr>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>